@import "./variables.scss";
@import "./mixins.scss";

.avatar {
	border-radius: 50%;
	cursor: pointer;
	width: $avatar-size;
	height: $avatar-size;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: white;

	img {
		width: $avatar-size;
		height: $avatar-size;
	}

	&.user {
		background-color: $primary-regular-color;
		@include light-transition(background-color);

		.menu {
			position: absolute;
			top: calc(#{$avatar-size} / 2);
			right: 0;
			display: none;

			&:hover {
				display: block;
			}
		}

		&:hover {
			background-color: $primary-dark-color;

			.menu {
				display: block;
			}
		}
	}
}
