@import "./variables.scss";

@keyframes to-next {
	80% {
		left: 0;
	}

	95% {
		left: 100%;
	}

	98% {
		left: 100%;
	}

	99% {
		left: 0;
	}
}

@keyframes to-start {
	80% {
		left: 0;
	}

	95% {
		left: -400%;
	}

	98% {
		left: -400%;
	}

	99% {
		left: 0;
	}
}

@keyframes commit-scroll {
	96% {
		scroll-snap-align: center;
	}

	97% {
		scroll-snap-align: none;
	}

	99% {
		scroll-snap-align: none;
	}

	100% {
		scroll-snap-align: center;
	}
}

.carousel {
	position: relative;

	&,
	& > * {
		scrollbar-color: transparent transparent;
		scrollbar-width: 0;
		-ms-overflow-style: none;

		::-webkit-scrollbar {
			width: 0;
		}

		::-webkit-scrollbar-track {
			background-color: transparent;
		}

		::-webkit-scrollbar-thumb {
			background-color: transparent;
			border: none;
		}
	}

	&::before,
	&::after,
	.prev,
	.next {
		display: block;
		position: absolute;
		top: 0;
		margin-top: 24%;
		width: $carousel-button-size;
		height: $carousel-button-size;
		border-radius: 50%;
		transform: translateY(-50%);
		font-size: 0;
		outline: 0;
	}

	&::before,
	.prev {
		left: 0;
	}

	&::after,
	.next {
		right: 0;
	}

	&::before {
		background-image: url("../../img/arrows/left.svg");
	}

	&::after {
		background-image: url("../../img/arrows/right.svg");
	}

	&::before,
	&::after {
		content: "";
		z-index: 10;
		background-color: $secondary-dark-color;
		background-size: calc(#{$carousel-button-size} / 2)
			calc(#{$carousel-button-size} / 2);
		background-repeat: no-repeat;
		background-position: center center;
		pointer-events: none;
	}

	.prev,
	.next {
		z-index: 11;
	}

	&.photo {
		max-width: $large-video-width;
		padding-top: min(50%, #{$large-video-height});

		&,
		& .viewport {
			width: 100%;
		}
	}

	.viewport {
		list-style: none;
		list-style-type: none;
		padding: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		overflow-x: scroll;
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;

		.item {
			position: relative;
			flex: 0 0 100%;
			width: 100%;

			.navigation {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				animation-name: to-next, commit-scroll;
				animation-timing-function: ease;
				animation-duration: 5s;
				animation-iteration-count: infinite;
				scroll-snap-align: center;
			}

			&:last-child {
				.navigation {
					animation-name: to-start, commit-scroll;
				}
			}
		}
	}

	&:hover,
	&:focus-within {
		.navigation {
			animation-name: none !important;
		}
	}
}
