@import "./variables.scss";

@keyframes footer-init {
	from {
		transform: translateY($footer-height);
	}

	to {
		transform: translateY(0);
	}
}

.footer {
	background-color: white;
	box-shadow: 0 -2px 2px 2px $secondary-regular-color;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: $footer-height;
	z-index: 15;
}
