@import "./variables.scss";

@keyframes header-init {
	from {
		transform: translateY($header-height * -1);
	}

	to {
		transform: translateY(0);
	}
}

.header {
	width: 100%;
	height: $header-height;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	box-sizing: border-box;
	cursor: default;
	font-weight: 500;
	box-shadow: 0 2px 2px 2px $secondary-regular-color;
	z-index: 15;

	& > * {
		height: 100%;
		display: flex;
		align-items: center;
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}

		& > * {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.logo-wrapper {
		cursor: pointer;

		.logo {
			margin-right: 10px;
			width: $logo-size;
			height: $logo-size;
		}

		.logo-text {
			margin: 0;
			padding: 0;
			font-size: $header-font-size;
			color: $primary-regular-color;
			white-space: nowrap;
			word-break: keep-all;
		}
	}

	.search-wrapper {
		flex-grow: 1;
		justify-content: center;

		.search-field {
			height: $search-field-height;
			display: flex;
			border-radius: $search-border-radius;
			width: 100%;
			max-width: $search-field-width;

			& > * {
				border: 1px solid $secondary-dark-color;
				box-sizing: border-box;
			}

			.search-input {
				$width: calc(100% - #{$search-button-width});
				border-bottom-left-radius: $search-border-radius;
				border-top-left-radius: $search-border-radius;
				padding: 10px;
				width: $width;
				max-width: $width;

				&:focus-visible {
					outline: none;
					border: 1px solid $accent-regular-color;
				}
			}

			.search-button {
				height: 100%;
				border-bottom-right-radius: $search-border-radius;
				border-top-right-radius: $search-border-radius;
				padding: 0 10px;
				width: $search-button-width;
			}
		}
	}
}
