@import "./variables.scss";
@import "./mixins.scss";

.fa,
.fab,
.far,
.fad,
.fal,
.fas {
	font-size: $icon-size;

	&.active {
		cursor: pointer;
	}

	&.fade-in {
		opacity: 0.5;
		cursor: pointer;
		@include light-transition(opacity);

		&:hover {
			opacity: 0.9;

			&.social {
				&.facebook {
					color: $facebook-color;
				}

				&.instagram {
					color: $instagram-color;
				}

				&.telegram {
					color: $telegram-color;
				}
			}
		}
	}

	&.small {
		font-size: $small-icon-size;
	}

	&.medium {
		font-size: $medium-icon-size;
	}

	&.large {
		font-size: $large-icon-size;
	}
}

.icon-button {
	background-color: $secondary-regular-color;
	cursor: pointer;
	@include light-transition(background-color);

	&:hover {
		background-color: $secondary-dark-color;
	}
}
