@import "./variables.scss";

html {
	width: 100%;
	height: 100%;
}

body {
	background-color: $body-bg-color;
	width: 100%;
	height: 100%;
	font-family: $font;
}

*::selection {
	background-color: $primary-regular-color;
	color: white;
}
