@import "./variables.scss";

@keyframes pulse {
	from {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 red;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 7px rgba(255, 0, 0, 0);
	}

	to {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
}

.live-indicator {
	width: $live-indicator-size;
	height: $live-indicator-size;
	background-color: red;
	border-radius: 50%;
	animation-name: pulse;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
}
