@import "./variables.scss";
@import "./mixins.scss";

@keyframes video-block-init {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

.main {
	width: 100%;
	height: calc(100% - #{$header-height} - #{$footer-height});
	display: flex;

	.videos {
		width: calc(100% - #{$sidebar-width});

		@media (max-width: $smaller-screen) {
			width: calc(100% - #{$sidebar-collapsed-width});
		}

		.menu-block {
			display: flex;
			align-items: center;
			list-style: none;
			list-style-type: none;
			overflow-x: auto;
			padding: 0 10px;
			height: $menu-absolute-height;
			@include init-animation(video-block-init, 1, translateX(100%));

			.item {
				padding: 7px 10px;
				border-radius: $menu-item-height;
				border: 1px solid $secondary-darker-color;
				background-color: $secondary-regular-color;
				color: $secondary-black-color;
				cursor: pointer;
				white-space: nowrap;
				word-break: keep-all;
				height: min-content;
				@include light-transition(border-color background-color color);

				&:hover,
				&:first-child {
					border-color: $primary-regular-color;
					background-color: $primary-regular-color;
					color: white;
				}

				&:not(&:last-child) {
					margin-right: 20px;
				}
			}
		}

		.carousel-block {
			width: 100%;
			height: 40%;
			display: flex;
			justify-content: center;
			align-items: center;
			@include init-animation(video-block-init, 2, translateX(100%));
		}

		.other-block {
			box-sizing: border-box;
			width: 100%;
			height: calc(60% - #{$menu-absolute-height});
			overflow-y: auto;
			display: grid;
			padding: 20px;
			gap: 20px;
			grid-template-columns: repeat(auto-fill, minmax($small-video-width, 1fr));
			@include init-animation(video-block-init, 3, translateX(100%));
		}
	}

	& > * {
		height: 100%;
	}
}
