@import "./variables.scss";
@import "./mixins.scss";

.menu {
	background-color: white;
	list-style: none;
	list-style-type: none;
	border-radius: 5px;
	box-shadow: 0 0 3px 3px $secondary-regular-color;

	li {
		padding: 10px 20px;
		background-color: inherit;
		white-space: nowrap;
		word-break: keep-all;
		@include light-transition(background-color);

		.fa,
		.fab,
		.far,
		.fad,
		.fal,
		.fas {
			margin-right: 10px;
		}

		&.danger {
			color: red;
		}

		&.divided {
			border-top: 1px solid $secondary-dark-color;
		}

		&:hover {
			background-color: $secondary-regular-color;
		}
	}
}
