@import "./variables.scss";

@mixin init-animation($name, $order, $from-transform) {
	animation-name: $name;
	animation-duration: $init-animation-timing;
	animation-delay: $order * $init-animation-timing;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	transform: $from-transform;
}

@mixin light-transition($props) {
	transition-property: $props;
	transition-duration: 0.1s;
}
