@import "./variables.scss";
@import "./mixins.scss";

@keyframes sidebar-init {
	from {
		transform: translateX($sidebar-width * -1);
	}

	to {
		transform: translateX(0);
	}
}

.sidebar {
	background-color: $secondary-regular-color;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: $sidebar-width;
	box-sizing: border-box;
	@include init-animation(sidebar-init, 0, translateX($sidebar-width * -1));

	& > * {
		width: 100%;
		box-sizing: border-box;
	}

	.streamers {
		overflow-y: auto;
		list-style: none;
		list-style-type: none;
		height: calc(100% - #{$contacts-height});

		li {
			background-color: inherit;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-weight: 700;
			padding: 10px;
			cursor: pointer;
			max-width: 100%;
			@include light-transition(background-color);

			.left {
				max-width: 78%;

				& > * {
					white-space: nowrap;
					word-break: keep-all;
					text-overflow: ellipsis;
					overflow: hidden;
				}

				& > .avatar {
					margin-right: 10px;
				}
			}

			.right > .live-indicator {
				margin-right: 5px;
			}

			&:hover {
				background-color: $secondary-dark-color;
			}

			& > * {
				display: flex;
				align-items: center;
			}
		}
	}

	.contacts-wrapper {
		height: $contacts-height;
		padding: 20px;
		border-top: 3px solid $body-bg-color;

		.contacts {
			border-radius: $contacts-border-radius;
			background-color: $secondary-darker-color;
			padding: 20px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			box-sizing: border-box;
			height: 100%;

			.contacts-text {
				font-size: $meduim-font-size;
				font-weight: 500;
				text-align: center;
			}

			.social > * {
				&:not(*:last-child) {
					margin-right: 20px;
				}
			}
		}
	}

	@media (max-width: $smaller-screen) {
		width: min-content;

		.streamers li {
			justify-content: center;

			.left > *:not(.avatar),
			.right {
				display: none;
			}

			.left .avatar {
				margin: 0;
			}
		}

		.contacts-wrapper {
			height: min-content;

			.contacts {
				height: min-content;

				.contacts-text {
					display: none;
				}

				.social > * {
					&:not(*:last-child) {
						margin-right: 0;
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}
