// Sizes
$header-height: 70px;
$logo-size: 50px;
$large-icon-size: 30px;
$icon-size: 25px;
$medium-icon-size: 20px;
$small-icon-size: 15px;
$search-border-radius: 7px;
$search-field-height: 36px;
$search-field-width: 400px;
$search-button-width: 35px;
$avatar-size: 40px;
$sidebar-width: 300px;
$sidebar-collapsed-width: 110px;
$live-indicator-size: 10px;
$contacts-border-radius: 10px;
$contacts-height: 180px;
$footer-height: 50px;
$video-large-info-width: 200px;
$video-large-info-min-width: 150px;
$video-small-info-height: 50px;
$carousel-perspective: 100px;
$carousel-button-size: 40px;
$small-video-width: 300px;
$small-video-max-width: 600px;
$small-video-height: 250px;
$large-video-width: 600px;
$large-video-height: 300px;
$menu-item-height: 23px;
$menu-absolute-height: 60px;
$smaller-screen: 1200px;
$medium-screen: 900px;

// Fonts
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
	Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$header-font-size: 32px;
$meduim-font-size: 20px;
$small-font-size: 14px;

// Timings
$init-animation-timing: 0.5s;

// Colors
$body-bg-color: #f5f5f5;
$primary-regular-color: #ffaa00;
$primary-dark-color: #dd8800;
$secondary-regular-color: #dfdfdf;
$secondary-darker-color: #cacaca;
$secondary-dark-color: #afafaf;
$secondary-black-color: #7f7f7f;
$accent-regular-color: #33ccff;
$accent-dark-color: #0088ff;
$instagram-color: #8a3ab9;
$facebook-color: #3b5998;
$telegram-color: #0088cc;
$modal-bg-color: #00000088;
