@import "./variables.scss";
@import "./mixins.scss";

.video {
	width: 100%;
	height: 100%;
	display: flex;

	&.small {
		flex-direction: column;
		justify-content: space-between;
		min-width: $small-video-width;
		max-width: $small-video-max-width;
		max-height: $small-video-height;

		.image {
			display: flex;
			justify-content: center;
			min-height: calc(100% - #{$video-small-info-height});
			background-color: black;

			img {
				max-width: 100%;
			}

			.dimmer {
				width: 100%;
				min-height: 100%;
				max-height: 100%;
			}
		}

		.info {
			height: $video-small-info-height;

			.texts {
				max-width: 80%;

				& > * {
					word-break: keep-all;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}

	&.large {
		.image {
			width: calc(100% - #{$video-large-info-width});

			& img,
			& .dimmer {
				width: 100%;
				height: 100%;
			}

			@media (max-width: $medium-screen) {
				width: calc(100% - #{$video-large-info-min-width});
			}
		}

		.info {
			background-color: white;
			width: $video-large-info-width;

			@media (max-width: $medium-screen) {
				width: $video-large-info-min-width;
			}
		}
	}

	.image {
		position: relative;

		.dimmer {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $modal-bg-color;
			color: white;
			opacity: 0;
			z-index: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			@include light-transition(opacity);
		}

		&:hover .dimmer {
			opacity: 1;
		}

		.badge {
			padding: 3px 5px;
			border-radius: 2px;
			position: absolute;
			color: white;
			font-size: $small-font-size;

			&.live {
				top: 10px;
				left: 10px;
				background-color: red;
				text-transform: uppercase;
			}

			&.numbers {
				bottom: 10px;
				right: 10px;
				background-color: $modal-bg-color;
			}
		}
	}

	.info {
		padding: 10px;

		.line {
			display: flex;
			margin-bottom: 10px;

			.texts {
				flex-grow: 1;
				z-index: 2;
			}

			.avatar {
				margin-right: 10px;
			}
		}
	}
}
